<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Log In</title>
  <link rel="stylesheet" type="text/css" href="public/stylesheets/normalize.css">

  <style>
    body { background-color:#e6e6e6; }
  </style>
</head>

<body>
  <form action="/login" method="post">

    <h1>Welcome to Employee Management!</h1>
    <h2>Please Log In below</h2>

      <fieldset>
        <legend>Your Log In Credentials</legend>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" name="password">
        <br><br>

        <input type="submit" name="submit" value="Log In">
      </fieldset>

  </form>
</body>
</html>
